:root {
	--colore-sfondo-div: rgba(255, 253, 233, 0.9);
	--colore-testo-contrasto-sfondi: #fdf1ce;
	--colore-testo-principale: #473603;
	--colore-link-visitato: #006b2d;
	--colore-sfondo-article-p: #d7c99e;
	--colore-hover-menu: #d6c8a6;
	--colore-background-menu: #bfb394;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("../immagini/sfondo-light.jpg");
	--icona-autenticazione: url("../immagini/logo/user.png");
	--icona-autenticazione-current: url("../immagini/logo/user-light.png");
	--icona-torna-su: url("../immagini/torna-su-light.svg");
}

[data-theme="dark"] {
	--colore-sfondo-div: rgba(0, 0, 0, 0.8);
	--colore-testo-contrasto-sfondi: #473603;
	--colore-testo-principale: #bfb394;
	--colore-link-visitato: #a7e08c;
	--colore-sfondo-article-p: #332a1f;
	--colore-hover-menu: #332f26;
	--colore-background-menu: #241f19;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("../immagini/sfondo-dark.jpg");
	--icona-autenticazione: url("../immagini/logo/user-light-darkmode.png");
	--icona-autenticazione-current: url("../immagini/logo/user.png");
	--icona-torna-su: url("../immagini/torna-su-dark.svg");
}

header h1 {
	font-size: 2.2em;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	background-color: unset;
}
.hide {
	text-indent: -9999em;
}
h1.hide {
	height: auto;
	margin-top: 0;
}

/*========= MENU =========*/

#menu {
	position: static;
	z-index: 2;
	margin-bottom: 1em;
	display: none;
}

#menu ul {
	background-color: var(--colore-sfondo-div);
	border-radius: 0.5em;
	padding-bottom: 0.5em;
}
#menu li {
	float: none;
}

#menu li a,
#currentLink {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0;
}

#currentLink {
	background-color: unset;
	font-weight: bold;
	border-radius: 0px;
}

#menu li a:hover {
	/*background-color: var(--colore-sfondo-div);*/
	background-color: unset;
	color: unset;
}

#displayMenuButton {
	display: inline;
	margin-top: 0;
	margin-bottom: 0.5em;
}

/*===========immagini===========*/

#content img {
	width: 100%;
	height: auto;
	margin: auto;
}

/*========content=========*/
#breadcrumb {
	background-color: var(--colore-sfondo-div);
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

#content #titolo {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#content > div,
#content > article {
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

#content p {
	margin-top: 0.5em;
}
/*=============== GALLERIA ===============*/

.gallery {
	display: inline;
	width: 100%;
	height: 100%;
}

#content .gallery img {
	margin-top: 1em;
}

.gallery_img_zoom {
	transition: none;
}

.gallery_img_zoom:hover {
	border: none;
	transform: none;
}

/*========== ATTREZZATURE ==========*/
#content .attrezzature img {
	float: none;
	width: 100%;
}

/*========== PERSONAL TRAINER ==========*/
#content .personalTrainer > h2 {
	margin: auto;
	text-align: center;
	padding: 0.5em;
}

#content .personalTrainer > img {
	float: none;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2em;
}

#content .personalTrainer > div {
	margin-left: 0;
}

/*============= ABBONAMENTI =============*/
.offertaAbbonamento {
	max-width: 100%;
	width: 70%;
}

/*============= ALLENAMENTI =============*/
#titolo-allenamenti {
	margin-top: 1.5em;
}

.allenamenti article {
	width: 100%;
}

.dettagli-allenamento article {
	width: 100%;
}
