:root {
	--colore-sfondo-div: rgba(255, 253, 233, 0.9);
	--colore-testo-contrasto-sfondi: #fdf1ce;
	--colore-testo-principale: #473603;
	--colore-link-visitato: #006b2d;
	--colore-sfondo-article-p: #d7c99e;
	--colore-hover-menu: #d6c8a6;
	--colore-background-menu: #bfb394;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("../immagini/sfondo-light.jpg");
	--icona-autenticazione: url("../immagini/logo/user.png");
	--icona-autenticazione-current: url("../immagini/logo/user-light.png");
	--icona-torna-su: url("../immagini/torna-su-light.svg");
}

[data-theme="dark"] {
	--colore-sfondo-div: rgba(0, 0, 0, 0.8);
	--colore-testo-contrasto-sfondi: #473603;
	--colore-testo-principale: #bfb394;
	--colore-link-visitato: #a7e08c;
	--colore-sfondo-article-p: #332a1f;
	--colore-hover-menu: #332f26;
	--colore-background-menu: #241f19;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("../immagini/sfondo-dark.jpg");
	--icona-autenticazione: url("../immagini/logo/user-light-darkmode.png");
	--icona-autenticazione-current: url("../immagini/logo/user.png");
	--icona-torna-su: url("../immagini/torna-su-dark.svg");
}

header h1 {
	font-size: 2.2em;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	background-color: unset;
}
.hide {
	text-indent: -9999em;
}
h1.hide {
	height: auto;
	margin-top: 0;
}

/*========= MENU =========*/
h1.hide {
	margin-top: 0em;
}

#topbar {
	max-width: 600px;
	width: 0%;
}

#burger-menu {
	display: block;
	position: fixed;
	top: 0%;
	right: 2%;
	cursor: pointer;
	font-size: 2em;
	color: var(--colore-testo-principale);
}

#darkmode-switch {
	top: 0;
	margin-right: 0;
	right: 1.2em;
}

#menu li {
	float: none;
}

#menu li a,
#currentLink,
#userIcon {
	color: var(--colore-testo-footer);
	padding: 0.6em;
	background-color: transparent;
}

#menu li a:hover {
	background-color: transparent;
}

#menu ul {
	background-color: transparent;
}

#menu #userIcon {
	float: none;
}

#userIcon a,
#userIcon a:hover {
	background-image: url("../immagini/logo/user-light.png");
}

#currentLink {
	background-color: transparent;
}

#currentLink::before {
	content: "\21E8";
	margin-right: 0.3em;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: var(--colore-sfondo-footer);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay span {
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay-content {
	position: relative;
	top: 5%;
	width: 100%;
	text-align: center;
	margin-top: 1em;
}

.overlay li {
	padding: 0em;
	text-decoration: none;
	font-size: 1.7em;
	display: block;
	transition: 0.3s;
}

#closebtn {
	display: block;
	position: absolute;
	top: 0.5em;
	right: 0.3em;
	font-size: 4em;
	z-index: 1;
	cursor: pointer;
}

/*=========== IMMAGINI ===========*/

#content img {
	width: 100%;
	height: auto;
	margin: auto;
}

/*======== CONTENT =========*/
#breadcrumb {
	background-color: var(--colore-sfondo-div);
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

#content #titolo {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#content > div,
#content > article {
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	overflow: unset;
}

#content p {
	margin-top: 0.5em;
}

#content h1 {
	font-size: 3.5em;
}

/*=============== HOME ===============*/
#vieniATrovarci {
	grid-template-columns: auto;
	gap: 2em;
	grid-template-areas:
		"d"
		"e"
		"b"
		"c"
		"a";
}

#vieniATrovarci h2 {
	margin-bottom: 0;
}

#gotoAllenamenti {
	margin-bottom: 1em;
}

.motivazione {
	max-width: 70%;
}

/*=============== GALLERIA ===============*/
.gallery {
	display: inline;
	width: 100%;
	height: 100%;
}

#content .gallery img {
	margin-top: 1em;
}

.gallery_img_zoom {
	transition: none;
}

.gallery_img_zoom:hover {
	border: none;
	transform: none;
}

/*========== ATTREZZATURE ==========*/
.attrezzature article {
	grid-template-columns: auto;
	grid-template-areas:
		"a"
		"b"
		"c";
}

#content .attrezzature p {
	width: 80%;
}

#content .attrezzature img {
	width: 90%;
}

/*========== PERSONAL TRAINER ==========*/
#content .personalTrainer > h2 {
	margin: auto;
	text-align: center;
	padding: 0.5em;
}

#content .personalTrainer > img {
	float: none;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2em;
}

#content .personalTrainer > div {
	margin-left: 0;
}

/*============= ABBONAMENTI =============*/
.offertaAbbonamento {
	max-width: 100%;
	width: 70%;
}

/*============= ALLENAMENTI =============*/
#titolo-allenamenti {
	margin-top: 1.5em;
}

.allenamenti article {
	width: 100%;
}

.dettagli-allenamento article {
	width: 100%;
}

/*============= AREA PERSONALE =============*/
#content #widget_area_personale {
	gap: 1em;
	grid-template-areas:
		"c"
		"a"
		"b";
	grid-template-columns: 100%;
}

#content #widget_area_personale_admin {
	gap: 1em;
	grid-template-areas:
		"c"
		"a"
		"b"
		"d";
	grid-template-columns: 100%;
}

.widget,
.dati_personali {
	border-radius: 0.5em;
}

#gestione_utenti ul {
	width: 65%;
}

#schede_allenamento .scheda_allenamento {
	width: 70%;
}
