header h1 {
	font-size: 2.2em;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	background-color: unset;
}

.hide {
	text-indent: -9999em;
}

h1.hide {
	height: auto;
	margin-top: 0;
	transition: none;
}
h1.hide:hover {
	transform: none;
}

#inserimentoForm input,
#inserimentoForm textarea,
#inserimentoForm select {
	width: 85%;
}

/*=========== MENU ===========*/

#topbar {
	max-width: 778px;
	width: 0%;
}

/*=========== IMMAGINI ===========*/

#content img {
	width: 100%;
	height: auto;
}

/*======== CONTENT =========*/
#breadcrumb {
	background-color: var(--colore-sfondo-div);
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

#content #titolo {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#content > div,
#content > article {
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	overflow: unset;
}

#content p {
	margin-top: 0.5em;
}

#content h1 {
	font-size: 3em;
}

/*=============== HOME ===============*/
#vieniATrovarci {
	grid-template-columns: auto;
	gap: 2em;
	grid-template-areas:
		"d"
		"e"
		"b"
		"c"
		"a";
}

#vieniATrovarci h2 {
	margin-bottom: 0;
}

#gotoAllenamenti {
	margin-bottom: 1em;
}

.motivazione {
	max-width: 70%;
}

/*=============== GALLERIA ===============*/
.gallery {
	display: inline;
	width: 100%;
	height: 100%;
}

#content .gallery img {
	margin-top: 1em;
}

.gallery_img_zoom {
	transition: none;
}

.gallery_img_zoom:hover {
	border: none;
	transform: none;
}

/*========== ATTREZZATURE ==========*/
.attrezzature article {
	text-align: center;
}

#content .attrezzature p {
	text-align: left;
	width: 80%;
}

#content .attrezzature img {
	float: none;
	margin-right: 0;
	width: 90%;
}

/*========== PERSONAL TRAINER ==========*/
#content .personalTrainer > h2 {
	margin: auto;
	text-align: center;
	padding: 0.5em;
}

#content .personalTrainer > img {
	float: none;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2em;
}

#content .personalTrainer > div {
	margin-left: 0;
}

/*============= ABBONATI =============*/
.offertaAbbonamento {
	max-width: 100%;
	width: 70%;
}

/*============= ALLENAMENTI =============*/
.allenamenti article {
	width: 100%;
}

.dettagli-allenamento article {
	width: 80%;
}

#bottoni-allenamenti {
	justify-content: space-evenly;
	margin-bottom: -1em;
}

#bottone-iniziale {
	margin: 0 0.5em 1em;
	font-size: 1.3em;
}

#bottone-iniziale-sinistra {
	margin: 0 0.5em 1em;
	font-size: 1.3em;
}

#datiScheda > a {
	font-size: 1.3em;
}

/*============= AREA PERSONALE =============*/
#content #widget_area_personale {
	gap: 1em;
	grid-template-areas:
		"c"
		"a"
		"b";
	grid-template-columns: 100%;
}

#content #widget_area_personale_admin {
	gap: 1em;
	grid-template-areas:
		"c"
		"a"
		"b"
		"d";
	grid-template-columns: 100%;
}

.widget,
.dati_personali {
	border-radius: 0.5em;
}

#gestione_utenti ul {
	width: 65%;
}

#schede_allenamento .scheda_allenamento {
	width: 70%;
}

/*============= STORIA =============*/
#passato img,
#presente img {
	margin-bottom: 1.5em;
}

/*============= FOOTER =============*/
footer {
	border-radius: 0.5em 0.5em 0 0;
}

.social {
	height: 3em;
}

/* FORM ESERCIZIO */

#inserimentoEsercizio {
	/* grid-template-areas:
		"a e"
		"b h"
		"c f"
		"d i"
		"d g"
		"m l"
		"n ."
		"o o"; */
	grid-template-columns: 33% 33% 33%;
	grid-template-areas:
		"a a a"
		"b b b"
		"c c c"
		"d d d"
		"e f g"
		"h i l"
		"m m m"
		"n n n"
		"o o o";
}
