html,
body {
	font-size: 95%;
	font-family: serif;
    text-align: justify;
	max-width: 1200px;
	background-image: none;
}

nav, footer, a.aiuti, #darkmode-switch, #burger-menu, #closebtn, #contaPersone, #scorriPagine{
    display: none;
}

#tornaSu{
    display: none !important;
}

#breadcrumb{
    display: block;
}

img{
    width: 35%;
}

a:after {
    content: " (http://localhost:30080/agazi/" attr(href) ") ";
}
a[href^="http"]:after{
    content: " [" attr(href) "] ";
}

abbr:after{
    content: " [" attr(title) "] ";
}

abbr[title]{
    text-decoration: none;
}

div.galleryGroup{
    page-break-before: always;
}
#salaPesi{
    page-break-before: avoid;
    
}
#salaPesi img{
    width: 32%;
    display: inline;
}
.gallery{
    display: inline;
}

.personalTrainer img{
    width: 15%;
}

article.personalTrainer{
    break-inside: avoid;
}

.attrezzature img{
    margin-right: 1em;
    margin-bottom: 1em;
    width: 25%;
}

.attrezzature article{
    break-inside: avoid;
}

#content .attrezzature article h3, #content.attrezzature h2{
    clear: both;
}
/* non mostrare il logo */

/* abbreviaziooni */
