/*========= MENU =========*/
h1.hide {
	margin: 0 3em;
}

#logo {
	padding: 0;
}

#topbar {
	max-width: 768px;
	width: 0%;
}

#burger-menu {
	display: block;
	position: absolute;
	top: 0.3em;
	left: 0.4em;
	cursor: pointer;
	font-size: 3em;
	color: var(--colore-testo-principale);
}

#closebtn {
	display: block;
	position: absolute;
	top: 0;
	left: 0.2em;
	font-size: 5em;
	z-index: 1;
	cursor: pointer;
	color: #fdf1ce;
}

#darkmode-switch {
	top: 0.7em;
	margin-right: 0;
	right: 1em;
	font-size: 1.3em;
}

.slider {
	background-color: var(--colore-sfondo-article-p);
}
.slider:before {
	background-color: #473603;
}

#menu li {
	float: none;
}

#menu li a,
#currentLink,
#userIcon {
	color: var(--colore-testo-footer);
	padding: 0.6em;
	background-color: transparent;
}

#menu li a:hover {
	background-color: transparent;
}

#menu ul {
	background-color: transparent;
}

#menu #userIcon {
	float: none;
}

#userIcon a,
#userIcon a:hover {
	background-image: url("../immagini/logo/user-light.png");
}

#currentLink {
	background-color: #fdf1ce44;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: var(--colore-sfondo-footer);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay span {
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay-content {
	position: relative;
	top: 5%;
	width: 25em;
	text-align: center;
	margin-top: 1em;
}

.overlay li {
	padding: 0em;
	text-decoration: none;
	font-size: 1.7em;
	display: block;
	transition: 0.3s;
	margin: 0 22%;
}

#tornaSu {
	right: 2%;
}

/* allenamenti */
.dettagli-allenamento article {
	width: 60%;
}

#errore {
	display: block;
}

#errore div {
	width: 80%;
}

#errore img {
	float: none;
	width: 40%;
}
