* {
	padding: 0;
	margin: 0 auto;
}

html,
body {
	font-size: 95%;
	font-family: sans-serif;
	max-width: 1200px;
	background-image: url("immagini/provasfondo.jpg");
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}

header,
#breadcrumb {
	background-color: #f7f9fb;
	text-align: center;
}

/*==================== MENU ====================*/
#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.2em;
	color: #f7f9fb;
	z-index: 2;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31708e;
}
#menu li {
	float: left;
}

#menu li a,
#currentLink {
	display: block;
	color: #f7f9fb;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
	border-radius: 10px;
}

#currentLink {
	background-color: #687864;
	border-radius: 10px;
}

#menu li a:hover {
	background-color: #5085a5;
}

/*==================== CONTENT ====================*/
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#content > div {
	background-color: #f7f9fb;
	padding: 2em;
	border-radius: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
}

#content .titolo {
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#content h1 {
	text-align: center;
	padding-top: 0.5em;
	color: #687864;
	font-size: 4em;
	background-color: #f7f9fb;
}

#content p {
	color: #687864;
	clear: left;
	font-size: 1.3em;
	margin-top: 1em;
}

/*==================== ABBONAMENTI ====================*/
#abbonamenti {
	display: grid;
	grid-gap: 1.5em;
	grid-template-areas: "a b c d e";
}

#entrataSingola {
	grid-area: a;
}
#entrate {
	grid-area: b;
}
#mensile {
	grid-area: c;
}
#annuale {
	grid-area: d;
}
#resortPass {
	grid-area: e;
}

.offertaAbbonamento {
	display: grid;
	grid-template-rows: 5em 15em 2em;
	grid-template-areas:
		"a"
		"b"
		"c";
	background-color: rgb(200, 230, 255);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	padding: 2em 0em;
	width: 12em;
	text-align: center;
	border-radius: 40px;
	transition: all 0.17s ease-in-out;
}

.offertaAbbonamento h2 {
	grid-area: a;
	align-self: start;
}
.offertaAbbonamento ul {
	grid-area: b;
	align-self: start;
	list-style-type: none;
}
.offertaAbbonamento p {
	grid-area: c;
	align-self: end;
	margin-top: 0;
}

.offertaAbbonamento:hover {
	transform: scale(1.02);
}

/*
Pseudo elemento per migliorare le prestazioni
*/
.offertaAbbonamento::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 40px;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
	transition: opacity 0.2s ease-in-out;
}

.offertaAbbonamento:hover::after {
	opacity: 1;
}

/*==================== FOOTER ====================*/
footer {
	padding: 1em 2em;
	text-align: center;
	max-width: 1200px;
	background-color: rgba(0, 0, 0, 0.3);
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: #f7f9fb;
}
footer img {
	margin-top: 1em;
}
