* {
    padding: 0;
    margin: 0 auto;
}

html,
body {
    font-size: 100%;
    font-family: sans-serif;
    max-width: 1200px;
    background-image: url("immagini/provasfondo.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

header,
#breadcrumb {
    background-color: #f7f9fb;
    text-align: center;
}

/*==================== MENU ====================*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.2em;
    color: #f7f9fb;
    z-index: 2;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #31708e;
}
#menu li {
    float: left;
}

#menu li a,
#currentLink {
    display: block;
    color: #f7f9fb;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
}

#currentLink {
    background-color: #687864;
    outline: none;
    border-radius: 10px;
}

#menu li a:hover {
    background-color: #5085a5;
}

/*==================== CONTENT ====================*/

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#content > div {
    background-color: #f7f9fb;
    padding: 2em;
    outline: none;
    border-radius: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

#content .titolo {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

#content h1 {
    text-align: center;
    padding-top: 0.5em;
    color: #687864;
    font-size: 4em;
    background-color: #f7f9fb;
}

#content > div > p {
    color: #687864;
    clear: left;
    font-size: 1.3em;
    margin-top: 1em;
}

/*==================== AUTENTICAZIONE ====================*/

.autenticazione, #sceltaAutenticazione {
    max-width: 100%;
    background-color: #f7f9fb;
    outline: none;
    border-radius: 1em;
    margin: 2em 0em;
    padding: 1em 10%;
}

#sceltaAutenticazione {
    text-align: center;
}

#sceltaAutenticazione div {
    text-align: left;
}

#sceltaAutenticazione h2 {
    color: #687864;
    font-size: 1.5em;
    margin: 1em 0em 0.5em 0em;
    align: center;
}

.autenticazione fieldset {
    background-color: #eef2f6;
    outline: none;
    border-radius: 1em;
    padding: 1em 5%;
    margin: 0em auto;
}

.autenticazione legend {
    color: #f7f9fb;
    font-size: 1.5em;    
    background-color: #687864;
    outline: none;
    border-radius: 1em;
    padding: 0.5em 10%;
    margin: 0em auto;
}

.autenticazione h2 {
    font-weight: normal;
}

.autenticazione label {
    font-size: 1.5em;
    color: #687864;
    margin: 1em 0em 0.5em 20%;
}

.autenticazione input[type=text], .autenticazione input[type=password] {
    display: block;
    border: 2px solid #000;
    outline: none;
    border-radius: 1em;
    margin: 0.5em auto 1em auto;
    padding: 1em 5%;
    width: 60%;
    background-color: #5085a5;
    color: #f7f9fb;
    transition: box-shadow 0.2s, background-color 0.2s;
    transition-timing-function: ease;
}

.autenticazione ::placeholder {
    color: #f7f9fb;
}

.autenticazione input[type=text]:hover, .autenticazione input[type=password]:hover {
    background-color: #426e8a;
    box-shadow: 0px 10px 13px -7px #000000;
}

.autenticazione input[type=text]:focus, .autenticazione input[type=password]:focus {
    background-color: #3a6178;
    box-shadow: 0px 10px 13px -5px #000000;
}

.autenticazione input[type=submit], .autenticazione input[type=reset], #sceltaAutenticazione input[type=button] {
    outline: none;
    border-radius: 2em;
    cursor: pointer;
    border: 2px solid #000;
    color: #f7f9fb;
    font-size: 1.5em;
    transition: box-shadow 0.2s, width 0.2s, background-color 0.2s;
    transition-timing-function: ease;
    padding: 0.5em 0em;
    display: block;
    margin: 1em auto;
    width: 70%;
}

.autenticazione input[type=submit], #Registrati {
    background-color: #687864;
}

.autenticazione input[type=reset] {
    background-color: #990000;
}

#Accedi {
    background-color: #5085a5;
}

.autenticazione input[type=submit]:hover, .autenticazione input[type=reset]:hover, #sceltaAutenticazione input[type=button]:hover {
    box-shadow: 0px 10px 13px -7px #000000;
    width: 80%;
}

.autenticazione input[type=submit]:hover, #Registrati:hover {
    background-color: #546151;
}

.autenticazione input[type=reset]:hover {
    background-color: #800000;
}

#Accedi:hover {
    background-color: #426e8a;
}

.autenticazione input[type=submit]:active, .autenticazione input[type=reset]:active, #sceltaAutenticazione input[type=button]:active {
    box-shadow: 0px 10px 13px -5px #000000;
    width: 80%;
}

.autenticazione input[type=submit]:active, #Registrati:active {
    background-color: #3c453a;
}

.autenticazione input[type=reset]:active {
    background-color: #660000;
}

#Accedi:active {
    background-color: #325367;
}

/*==================== FOOTER ====================*/

footer {
    padding: 1em 2em;
    text-align: center;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #f7f9fb;
}

footer img {
    margin-top: 1em;
}