* {
	padding: 0;
	margin: 0 auto;
}

html,
body {
	font-size: 100%;
	font-family: sans-serif;
	max-width: 1200px;
	background-image: url("immagini/provasfondo.jpg");
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}

header,
#breadcrumb {
	background-color: #f7f9fb;
	text-align: center;
}

.aiuti{
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/*==================== MENU ====================*/
#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.2em;
	color: #f7f9fb;
	z-index: 2;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31708e;
}
#menu li {
	float: left;
}

#menu li a,
#currentLink {
	display: block;
	color: #f7f9fb;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
	border-radius: 10px;
}

#currentLink {
	background-color: #687864;
	border-radius: 10px;
}

#menu li a:hover {
	background-color: #5085a5;
}

/*==================== CONTENT ====================*/
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#content > div {
	background-color: rgba(247,249,251,0.93);
	padding: 2em;
	border-radius: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
}

#content .titolo {
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#content h1 {
	text-align: center;
	padding-top: 0.5em;
	color: #687864;
	font-size: 4em;
}

#content p {
	color: #687864;
	clear: left;
	font-size: 1.3em;
	margin-top: 1em;
}

/*==================== STILE GALLERIA ====================*/

.gallery {
	display: grid;
	grid-gap: 1em;
	width: 100%;
	height: 100%;
}

.gallery_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2em;
}

.gallery_img_zoom {
	transition: transform .2s; /* Animation */
}

.gallery_img_zoom:hover{
	border: 0.2em solid #687864;
	transform: scale(2);
}

.gridQuadrata {
	grid-template-areas:
		'x y'
		'z w';
}

/*CSS Gallery sala pesi*/
#gallerySalaPesi {
	width: 70%;
	grid-template-areas:
		'a a b b c c'
		'a a b b c c'
		'a a b b c c'
		'd d d e e e'
		'd d d e e e'
		'd d d e e e';
	padding-bottom: 3em;
}

#gallerySalaPesi #pesi1 {
	grid-area: a;
}

#gallerySalaPesi #pesi2 {
	grid-area: b;
}

#gallerySalaPesi #pesi3 {
	grid-area: c;
}

#gallerySalaPesi #pesi4 {
	grid-area: d;
}

#gallerySalaPesi #gallerySalaPesiQuadrato {
	grid-area: e;
}

#gallerySalaPesiQuadrato #pesi5 {
	grid-area: x;
}

#gallerySalaPesiQuadrato #pesi6 {
	grid-area: y;
}

#gallerySalaPesiQuadrato #pesi7 {
	grid-area: z;
}

#gallerySalaPesiQuadrato #pesi8 {
	grid-area: w;
}

/*CSS Gallery Sala Cardio*/
#gallerySalaCardio {
	width: 70%;
	grid-template-areas:
		'a a a a'
		'a a a a'
		'b b c d'
		'b b e f';
	padding-bottom: 3em;
}

#gallerySalaCardio #cardio1 {
	grid-area: a;
}

#gallerySalaCardio #cardio2 {
	grid-area: b;
}

#gallerySalaCardio #cardio3 {
	grid-area: c;
}

#gallerySalaCardio #cardio4 {
	grid-area: d;
}

#gallerySalaCardio #cardio5 {
	grid-area: e;
}

#gallerySalaCardio #cardio6 {
	grid-area: f;
}

/*CSS Gallery Sala Fitness*/
#gallerySalaFitness {
	width: 70%;
	padding-bottom: 3em;
}

#gallerySalaFitness #fitness1 {
	grid-area: x;
}

#gallerySalaFitness #fitness2 {
	grid-area: y;
}

#gallerySalaFitness #fitness3 {
	grid-area: z;
}

#gallerySalaFitness #fitness4 {
	grid-area: w;
}

/*CSS Gallery Piscina*/
#galleryPiscina {
	width: 70%;
	padding-bottom: 3em;
}

#galleryPiscina #piscina1 {
	grid-area: x;
}

#galleryPiscina #piscina2 {
	grid-area: y;
}

#galleryPiscina #piscina3 {
	grid-area: z;
}

#galleryPiscina #piscina4 {
	grid-area: w;
}

/*CSS Gallery Outdoor*/
#galleryOutdoor {
	width: 70%;
	grid-template-areas:
		'a a b c'
		'a a d e'
		'f f f f'
		'f f f f';
	padding-bottom: 3em;
}

#galleryOutdoor #outdoor1 {
	grid-area: a;
}

#galleryOutdoor #outdoor2 {
	grid-area: b;
}

#galleryOutdoor #outdoor3 {
	grid-area: c;
}

#galleryOutdoor #outdoor4 {
	grid-area: d;
}

#galleryOutdoor #outdoor5 {
	grid-area: e;
}

#galleryOutdoor #outdoor6 {
	grid-area: f;
}

/*CSS Gallery Spogliatoio*/
#gallerySpogliatoio {
	width: 70%;
	grid-template-areas:
		'a a b b'
		'a a b b'
		'a a c d'
		'a a e f';
	padding-bottom: 3em;
}

#gallerySpogliatoio #spogliatoio1 {
	grid-area: a;
}

#gallerySpogliatoio #spogliatoio2 {
	grid-area: b;
}

#gallerySpogliatoio #spogliatoio3 {
	grid-area: c;
}

#gallerySpogliatoio #spogliatoio4 {
	grid-area: d;
}

#gallerySpogliatoio #spogliatoio5 {
	grid-area: e;
}

#gallerySpogliatoio #spogliatoio6 {
	grid-area: f;
}

#content h2{
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.5em;
	color: #687864;
}

/*==================== FOOTER ====================*/
footer {
	padding: 1em 2em;
	text-align: center;
	max-width: 1200px;
	background-color: rgba(0, 0, 0, 0.3);
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: #f7f9fb;
}
footer img {
	margin-top: 1em;
}