#menu{
    position: static;
	z-index: 2;
}

/*#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #31708e;
}*/
#menu li {
	float: none;
}

#menu li a,
#currentLink {
	display: block;
	color: #f7f9fb;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
	border-radius: 10px;
}

#currentLink {
	background-color: #687864;
	border-radius: 10px;
}

#menu li a:hover {
	background-color: #5085a5;
}
