:root{
	--colore-sfondo-div: rgba(247,249,251,0.93);
	--colore-testo: #f7f9fb;
	--colore-titoli: #687864;
	--blu-scuro: #31708e;
	--azzurro: #8fc1e3;
	--blu: #5085a5;
}

header h1{
	background-color: var(--colore-sfondo-div);
	color: var(--blu-scuro);
	font-size: 2.2em;
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/*========= MENU =========*/

#menu{
    position: static;
	z-index: 2;
	margin-bottom: 1em;
	
}

#menu ul {
	background-color: var(--colore-sfondo-div);
	border-radius: 0.5em;
	padding-bottom: 0.5em;
}
#menu li {
	float: none;
}

#menu li a,
#currentLink {
	color: var(--colore-titoli);
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-bottom: var(--colore-titoli) solid 0.3px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0;
}

#currentLink {
	background-color:unset;
	color: var(--blu-scuro);
	font-weight: bold;
	border-radius: 0px;
}

#menu li a:hover {
	background-color: var(--colore-sfondo-div);
}

/*===========immagini===========*/

#content img{
	width: 100%;
	height: auto;
	margin: auto;
}

/*========content=========*/

#content h1{
	font-size: 2em;
	color: var(--blu-scuro);
}


#content h2{
	color: var(--blu);
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

#breadcrumb{
	background-color:var(--colore-sfondo-div);
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

#content #titolo{
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#content > div,
#content > article {
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

#content p {
	margin-top: 0.5em;
}
/*=============== GALLERIA ===============*/

.gallery {
	display: inline;
	width: 100%;
	height: 100%;
}

#content .gallery img{
	margin-top: 1em;
}

.gallery_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5em;
}

.gallery_img_zoom {
	transition: none;
}

.gallery_img_zoom:hover{
	border: none;
	transform: none;
}


/*========== ATTREZZATURE ==========*/

#content .attrezzature article {
	margin-bottom: 1.5em;
}

#content .attrezzature article h3 {
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}

#content .attrezzature article div img {
	float: none;
	width: 100%;
	border-radius: 0.5em;
}

#content .attrezzature article div{
	min-height: 0;
}

#content .attrezzature article div p {
	clear: none;
	margin-left: 0;
	margin-bottom: 2em;
	border-radius: 0.5em;
}

/*========== PERSONAL TRAINER ==========*/

#content .personalTrainer > h2 {
    margin: auto;
	text-align: center;
    padding: 0.5em;
}

#content .personalTrainer > img {
    float: none;
    width: 80%;
    margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 0.5em;
    transition: none;
}

#content .personalTrainer > img:hover {
    transform: none;
}

#content .personalTrainer > p {
    margin: 0;
	margin-bottom: 1em;
    border-radius: 0.5em;
    transition:none;
}

#content .personalTrainer > p:hover {
    box-shadow:none;
}

#content .personalTrainer > div {
    margin: 1em 0 0 0;
}

#content .personalTrainer > div > p {
    padding: 0.5em 0.5em;
    margin:  0;
    border-radius: 0.5em;
}

#content .personalTrainer > div > ul > li {
    padding: 0.5em 0.5em;
    margin:  0.5em 0.2em;
    border-radius: 0.5em;
    transition: none;
}

#content .personalTrainer > div > ul > li:hover {
    transform:none;
    box-shadow:none;
    background-color: var(--colore-titoli);
}

/*============= ABBONAMENTI =============*/

#abbonamenti {
	grid-gap: 0;
	grid-template-areas:
		'a'
		'b'
		'c'
		'd'
		'e';
}


.offertaAbbonamento {
	display: inline;
	background-color:unset;
	box-shadow: none;
	padding: 0.5em 0em;
	width: auto;
	border-radius: 0;
	transition: none;
	border-bottom: var(--colore-titoli) solid 0.3px;

}

.offertaAbbonamento:hover {
	transform: none;
}
#resortPass > ul{
	margin-top: 0.5em;
}
#resortPass li{
	color: var(--colore-titoli); /*!!!! da togliere quando si sistema in style.css !!!!!*/
	font-size: 1.2em;
	margin-left: 1.2em;
}
