:root {
	--colore-sfondo-div: rgba(255, 253, 233, 0.9);
	--colore-testo-contrasto-sfondi: #fdf1ce;
	--colore-testo-principale: #473603;
	--colore-sfondo-article-p: #d7c99e;
	--colore-hover-menu: #d6c8a6;
	--colore-background-menu: #bfb394;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("immagini/sfondo.jpg");
	--icona-autenticazione: url("immagini/logo/user.png");
	--icona-autenticazione-current: url("immagini/logo/user-light.png");
}

[data-theme="dark"] {
	--colore-sfondo-div: rgba(0, 0, 0, 0.8);
	--colore-testo-contrasto-sfondi: #473603;
	--colore-testo-principale: #bfb394;
	--colore-sfondo-article-p: #332a1f;
	--colore-hover-menu: #bfb39433;
	--colore-background-menu: #241f19;
	--colore-sfondo-footer: rgba(0, 0, 0, 0.8);
	--colore-testo-footer: #fdf1ce;
	--immagine-background: url("immagini/sfondo-dark.jpg");
	--icona-autenticazione: url("immagini/logo/user-light-darkmode.png");
	--icona-autenticazione-current: url("immagini/logo/user.png");
}

* {
	padding: 0;
	margin: 0 auto;
}

html,
body {
	font-size: 95%;
	font-family: sans-serif;
	max-width: 1200px;
	background-image: var(--immagine-background);
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}

header,
#breadcrumb {
	background-color: var(--colore-sfondo-div);
	color: var(--colore-testo-principale);
	text-align: center;
}

.hide {
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}

h1.hide {
	background-image: url("immagini/titolo.png");
	height: 130px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.5s cubic-bezier(0.15, 1, 0.15, 1);
	margin-top: 1.7em;
}

h1.hide:hover {
	transform: scale(1.02);
}

#breadcrumb {
	background-color: var(--colore-sfondo-div);
	padding-top: 1em;
}

.aiuti {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

button {
	margin-top: 1.5em;
	padding: 0.3em 0.6em 0.3em 0.6em;
	border-radius: 1em;
	border: none;
	font-size: 2em;
	color: var(--colore-testo-contrasto-sfondi);
	background-color: var(--colore-testo-principale);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.03);
}

button::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 40px;
	box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.4);
	transition: opacity 0.17s ease-in-out;
}

button:hover::after {
	opacity: 1;
}

small {
	font-size: 1em;
}

/*==================== MENU ====================*/
#topbar {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	max-width: 1200px;
	font-size: 1.2em;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--colore-background-menu);
	border-radius: 10px;
}

#menu li {
	float: left;
}

#menu li a,
#currentLink {
	display: block;
	color: var(--colore-testo-principale);
	text-align: center;
	padding: 1em 1.8em;
	text-decoration: none;
	border-radius: 10px;
}

#currentLink {
	color: var(--colore-testo-contrasto-sfondi);
	background-color: var(--colore-testo-principale);
}

#menu li a {
	transition: background-color 0.1s ease-in-out;
}

#menu li a:hover {
	background-color: var(--colore-hover-menu);
}

#menu #userIcon {
	width: 3.5em;
	float: right;
}

#userIcon a,
#userIcon a:hover {
	background-image: var(--icona-autenticazione);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2em;
}

#userIcon span {
	background-image: var(--icona-autenticazione-current);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2em;
}

/*Toggle dark mode*/
#topbar #darkmode-switch-wrapper {
	margin-top: 0.4em;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 4em;
}

#darkmode-switch {
	display: inline-block;
	height: 2.3em;
	position: relative;
	width: 4.7em;
}

#darkmode-switch input {
	display: none;
}

.slider {
	background-color: var(--colore-testo-principale);
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transition: 0.4s;
	background-image: url("immagini/sun.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.slider:before {
	background-color: var(--colore-testo-contrasto-sfondi);
	bottom: 0.3em;
	content: "";
	height: 1.72em;
	left: 0.27em;
	position: absolute;
	transition: 0.4s;
	width: 1.72em;
}

input:checked + .slider {
	background-color: #66bb6a;
	background-image: url("immagini/moon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}

input:checked + .slider:before {
	transform: translateX(2.4em);
}

.slider.round {
	border-radius: 5em;
}

.slider.round:before {
	border-radius: 50%;
}

#displayMenuButton {
	display: none;
}

/*==================== CONTENT ====================*/
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#content > div,
#content > article {
	background-color: var(--colore-sfondo-div);
	padding: 2em;
	border-radius: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
}

#content #titolo {
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#content h1 {
	text-align: center;
	color: var(--colore-testo-principale);
	padding-top: 0.5em;
	font-size: 4em;
}

#content h2 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.5em;
	color: var(--colore-testo-principale);
}

#content h3 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
	color: var(--colore-testo-principale);
}

#content p {
	color: var(--colore-testo-principale);
	font-size: 1.3em;
	margin-top: 1em;
}

#content img {
	border-radius: 2em;
}

#content li {
	font-size: 1.1em;
}

#titolo h2 {
	margin-bottom: 0em;
}

/*==================== FOOTER ====================*/
footer {
	clear: both;
	padding: 1em 2em;
	text-align: center;
	max-width: 1200px;
	background-color: var(--colore-sfondo-footer);
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: var(--colore-testo-footer);
}

footer .social {
	margin-top: 1em;
	width: 4em;
	height: 4em;
	margin-right: 1em;
}

/*======================= HOME ========================*/
#titolo h2 {
	padding-top: 0.5em;
}

#scegliNoi > h2 {
	font-size: 4em;
}

#motivazioni {
	color: var(--colore-testo-principale);
	display: grid;
	grid-gap: 2.5em;
	grid-template-areas:
		"a b c"
		"d e f";
}

#motivazioni p,
#motivazioni h3 {
	color: var(--colore-testo-principale);
}
#motivazionePT {
	grid-area: a;
}
#motivazioneClienti {
	grid-area: b;
}
#motivazioneSale {
	grid-area: c;
}
#motivazioneBar {
	grid-area: d;
}
#motivazioneOutdoor {
	grid-area: e;
}
#motivazioneZen {
	grid-area: f;
}
.motivazione {
	text-align: center;
	max-width: 350px;
	background-color: var(--colore-sfondo-article-p);
	border-radius: 2em;
	padding: 1em;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.motivazione > span {
	font-size: 5em;
	padding-bottom: 1em;
}

.motivazione h3 {
	font-size: 2em;
	padding-top: 0.5em;
}

#diventaMembro {
	text-align: center;
}

#diventaMembro button {
	width: 6em;
}

#vieniAtrovarci {
	text-align: center;
}

#mappa {
	margin-top: 2em;
	width: 100%;
}

#doveSiamo {
	float: left;
	width: 50%;
	margin-bottom: 2em;
}

#orari {
	float: right;
	width: 40%;
	margin-bottom: 2em;
}

#contaPersone {
	float: right;
	width: 40%;
	margin-top: 3em;
	margin-bottom: 2em;
}

.clear {
	clear: both;
	overflow: hidden;
}
/*==================== ABBONAMENTI ====================*/
#abbonamenti {
	display: flex;
	flex-wrap: wrap;
	gap: 2em 1.4em;
}

.offertaAbbonamento, .esercizio {
	display: grid;
	grid-template-rows: 5em 17em 2em;
	grid-template-areas:
		"a"
		"b"
		"c";
	background-color: var(--colore-sfondo-article-p);
	color: var(--colore-testo-principale);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	padding: 2em 1em;
	width: 12em;
	text-align: center;
	border-radius: 40px;
}

#content .offertaAbbonamento h2, #content .esercizio h2 {
	grid-area: a;
	align-self: start;
	font-size: 2em;
}
.offertaAbbonamento ul, .esercizio ul {
	grid-area: b;
	align-self: start;
	list-style-type: none;
	padding-top: 1em;
}
.offertaAbbonamento button {
	grid-area: c;
	align-self: baseline;
	margin-top: 0;
	width: 6em;
	font-size: 1.5em;
}

#resortPass ul {
	display: inline-block;
	margin-top: 1.5em;
	color: var(--colore-testo-principale);
}
#resortPass li {
	float: left;
	background-color: var(--colore-sfondo-article-p);
	margin: 0.5em;
	padding: 0.5em 1em;
	list-style-type: none;
	border-radius: 5em;
}

small {
	color: var(--colore-testo-principale);
}

/*==================== PERSONAL TRAINER ====================*/

#content .personalTrainer > h2 {
	margin: 0em 0em 0.7em 35%;
}

#content .personalTrainer > img {
	float: left;
	width: 30%;
}

#content .personalTrainer > p {
	color: var(--colore-testo-principale);
	background-color: var(--colore-sfondo-article-p);
	margin: 1em 0em 1em 35%;
	padding: 1em;
	border-radius: 1em;
}

#content .personalTrainer > p > cite {
	display: block;
	padding: 0.5em 0em;
	font-size: 1.5em;
}

#content .personalTrainer > div {
	margin: 2.5em 0em 1em 35%;
}

#content .personalTrainer > div > p {
	display: inline;
	color: var(--colore-testo-contrasto-sfondi);
	background-color: var(--colore-testo-principale);
	padding: 0.5em 1em;
	border-radius: 2em;
}

#content .personalTrainer > div > ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

#content .personalTrainer > div > ul > li {
	color: var(--colore-testo-principale);
	background-color: var(--colore-sfondo-article-p);
	padding: 0.5em 1em;
	margin: 0.5em 0em;
	border-radius: 2em;
	list-style-type: none;
	display: inline-block;
}

/*==================== STILE ATTREZZATURE ====================*/

#content .attrezzature article {
	margin-bottom: 4em;
}

#content .attrezzature article h3 {
	background-color: var(--colore-testo-principale);
	color: var(--colore-testo-contrasto-sfondi);
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	border-radius: 2em;
}

#content .attrezzature article div img {
	float: left;
	width: 30%;
	margin-right: 1em;
	border-radius: 2em;
}

#content .attrezzature article div {
	min-height: 500px;
}

#content .attrezzature article div p {
	clear: right;
	margin-left: 35%;
	margin-bottom: 1em;
	color: var(--colore-testo-principale);
	background-color: var(--colore-sfondo-article-p);
	padding: 1.2em;
	border-radius: 2em;
}

/*==================== STILE STORIA ======================*/

#presente h2,
#passato h2 {
	font-size: 3em;
	margin-bottom: 0em;
}

#presente h3,
#passato h3 {
	padding-top: 1em;
}

#presente img,
#passato img {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 2em;
}

#presente p,
#passato p {
	padding: 0em 1.4em 1em 1.4em;
}

#secondaGuerra {
	float: right;
	width: 50%;
	padding-top: 0.3em;
}

#secondaGuerra p {
	margin-top: 0em;
}

#secondaGuerraImg {
	float: left;
	padding-left: 1.4em;
}

#secondaGuerraImg img {
	float: left;
	margin-top: 0em;
}

/*==================== STILE GALLERIA ====================*/
div div .gallery {
	width: 70%;
}

.gallery {
	display: grid;
	grid-gap: 1em;
	width: 100%;
	height: 100%;
}

.gallery_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2em;
}

.gallery_img_zoom {
	transition: transform 0.2s; /* Animation */
}

.gallery_img_zoom:hover {
	border: 0.3em solid var(--colore-testo-principale);
	transform: scale(2);
}

.gridQuadrata {
	grid-template-areas:
		"x y"
		"z w";
}

/*CSS Gallery sala pesi*/
#gallerySalaPesi {
	grid-template-areas:
		"a a b b c c"
		"a a b b c c"
		"a a b b c c"
		"d d d e e e"
		"d d d e e e"
		"d d d e e e";
	padding-bottom: 3em;
}
#gallerySalaPesi #pesi1 {
	grid-area: a;
}
#gallerySalaPesi #pesi2 {
	grid-area: b;
}
#gallerySalaPesi #pesi3 {
	grid-area: c;
}
#gallerySalaPesi #pesi4 {
	grid-area: d;
}
#gallerySalaPesi #gallerySalaPesiQuadrato {
	grid-area: e;
}
#gallerySalaPesiQuadrato {
	width: 100%;
}
#gallerySalaPesiQuadrato #pesi5 {
	grid-area: x;
}
#gallerySalaPesiQuadrato #pesi6 {
	grid-area: y;
}
#gallerySalaPesiQuadrato #pesi7 {
	grid-area: z;
}
#gallerySalaPesiQuadrato #pesi8 {
	grid-area: w;
}

/*CSS Gallery Sala Cardio*/
#gallerySalaCardio {
	grid-template-areas:
		"a a a a"
		"a a a a"
		"b b c d"
		"b b e f";
	padding-bottom: 3em;
}

#gallerySalaCardio #cardio1 {
	grid-area: a;
}

#gallerySalaCardio #cardio2 {
	grid-area: b;
}

#gallerySalaCardio #cardio3 {
	grid-area: c;
}

#gallerySalaCardio #cardio4 {
	grid-area: d;
}

#gallerySalaCardio #cardio5 {
	grid-area: e;
}

#gallerySalaCardio #cardio6 {
	grid-area: f;
}

/*CSS Gallery Sala Fitness*/
#gallerySalaFitness {
	padding-bottom: 3em;
}
#gallerySalaFitness #fitness1 {
	grid-area: x;
}
#gallerySalaFitness #fitness2 {
	grid-area: y;
}
#gallerySalaFitness #fitness3 {
	grid-area: z;
}
#gallerySalaFitness #fitness4 {
	grid-area: w;
}

/*CSS Gallery Piscina*/
#galleryPiscina {
	padding-bottom: 3em;
}
#galleryPiscina #piscina1 {
	grid-area: x;
}
#galleryPiscina #piscina2 {
	grid-area: y;
}
#galleryPiscina #piscina3 {
	grid-area: z;
}
#galleryPiscina #piscina4 {
	grid-area: w;
}

/*CSS Gallery Outdoor*/
#galleryOutdoor {
	grid-template-areas:
		"a a b c"
		"a a d e"
		"f f f f"
		"f f f f";
	padding-bottom: 3em;
}
#galleryOutdoor #outdoor1 {
	grid-area: a;
}
#galleryOutdoor #outdoor2 {
	grid-area: b;
}
#galleryOutdoor #outdoor3 {
	grid-area: c;
}
#galleryOutdoor #outdoor4 {
	grid-area: d;
}
#galleryOutdoor #outdoor5 {
	grid-area: e;
}
#galleryOutdoor #outdoor6 {
	grid-area: f;
}

/*CSS Gallery Cocktail-bar*/
#galleryCocktailBar {
	padding-bottom: 3em;
}
#galleryCocktailBar #cocktailbar1 {
	grid-area: x;
}
#galleryCocktailBar #cocktailbar2 {
	grid-area: y;
}
#galleryCocktailBar #cocktailbar3 {
	grid-area: z;
}
#galleryCocktailBar #cocktailbar4 {
	grid-area: w;
}

/*CSS Gallery Zen*/
#galleryGiardinoZen {
	padding-bottom: 3em;
}
#galleryGiardinoZen #zen1 {
	grid-area: x;
}
#galleryGiardinoZen #zen2 {
	grid-area: y;
}
#galleryGiardinoZen #zen3 {
	grid-area: z;
}
#galleryGiardinoZen #zen4 {
	grid-area: w;
}
/*CSS Gallery Spogliatoio*/
#gallerySpogliatoio {
	grid-template-areas:
		"a a b b"
		"a a b b"
		"a a c d"
		"a a e f";
	padding-bottom: 3em;
}
#gallerySpogliatoio #spogliatoio1 {
	grid-area: a;
}
#gallerySpogliatoio #spogliatoio2 {
	grid-area: b;
}
#gallerySpogliatoio #spogliatoio3 {
	grid-area: c;
}
#gallerySpogliatoio #spogliatoio4 {
	grid-area: d;
}
#gallerySpogliatoio #spogliatoio5 {
	grid-area: e;
}
#gallerySpogliatoio #spogliatoio6 {
	grid-area: f;
}

/*--- NASCONDI I FORM DI AGGIUNTA E ELIMINAZIONE ESERCIZIO ---*/

#aggiungiEsercizioForm{
	display: none;
}

#eliminaEsercizioForm{
	display: none;
}