:root{
	/*--colore-sfondo-div: rgba(247,249,251,0.93);
	--colore-testo-contrasto-sfondi: #f7f9fb;
	--colore-testo-principale: #687864;
	--colore-sfondo-article-p: #5085a5;
	--colore-hover-menu: #5085a5;
	--colore-background-menu: #31708e;*/
	--colore-sfondo-div: rgba(255,253,233,0.9);
	--colore-testo-contrasto-sfondi: #FDF1CE;
	--colore-testo-principale: #473603;
	--colore-sfondo-article-p: #D7C99E;
	--colore-hover-menu: #5C4500;
	--colore-background-menu: #BFB394;
}

* {
	padding: 0;
	margin: 0 auto;
}

html,
body {
	font-size: 95%;
	font-family: sans-serif;
	max-width: 1200px;
	background-image: url("immagini/provasfondo.jpg");
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
}

header,
#breadcrumb {
	background-color: var(--colore-sfondo-div);
	color: var(--colore-testo-principale);
	text-align: center;
}

.hide{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

h1.hide{
	background-image: url('immagini/titolo.png');
	height: 250px;
	width: 95%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.5s cubic-bezier(.15,1,.15,1);
	margin-top: 1.5em;
}

h1.hide:hover{
	transform: scale(1.02);
}

#breadcrumb{
	background-color: var(--colore-sfondo-div);
}

.aiuti{
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/*==================== MENU ====================*/
#menu {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1200px;
	font-size: 1.2em;	
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--colore-background-menu);
	border-radius: 10px;
}

#menu li {
	float: left;
}

#menu li a,
#currentLink {
	display: block;
	color: var(--colore-testo-principale);
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-decoration: none;
	border-radius: 10px;
}

#currentLink {
	color: var(--colore-testo-contrasto-sfondi);
	background-color: var(--colore-testo-principale);
	border-radius: 10px;
}

#menu li a:hover {
	background-color: var(--colore-hover-menu);
	color: var(--colore-testo-contrasto-sfondi);
}

/*==================== CONTENT ====================*/
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#content > div, #content > article {
	background-color: var(--colore-sfondo-div);
	padding: 2em;
	border-radius: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
}

#content #titolo {
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#content h1 {
	text-align: center;
	color: var(--colore-testo-principale);
	padding-top: 0.5em;
	font-size: 4em;
}

#content h2{	
	text-align: center;
	margin-bottom: 1em;
	font-size: 2.5em;
	color: var(--colore-testo-principale);
}

#content h3{	
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
	color: var(--colore-testo-principale);
}

#content p {
	color: var(--colore-testo-principale);
	font-size: 1.3em;
	margin-top: 1em;
}

#titolo h2{
	margin-bottom: 0em;
}

/*==================== FOOTER ====================*/
footer {
	clear: both;
	padding: 1em 2em;
	text-align: center;
	max-width: 1200px;
	background-color: rgba(0, 0, 0, 0.7);
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	color: var(--colore-testo-contrasto-sfondi);
}

footer .social {
	margin-top: 1em;
	width: 4em;
	height: 4em;
	margin-right: 1em;
}

/*======================= HOME ========================*/
#titolo h2{
	padding-top: 0.5em;
}

#scegliNoi > h2{
	font-size: 4em;
}

#motivazioni {
	color: var(--colore-testo-principale);
	display: grid;
	grid-gap: 2.5em;
	grid-template-areas: 
		"a b c"
		"d e f";
}

#motivazioni p,
#motivazioni h3{
	color: var(--colore-testo-principale);
}

#motivazionePT{
	grid-area: a;
}

#motivazioneClienti{
	grid-area: b;
}

#motivazioneSale{
	grid-area: c;
}

#motivazioneBar{
	grid-area: d;
}

#motivazioneOutdoor{
	grid-area: e;
}

#motivazioneZen{
	grid-area: f;
}

.motivazione{
	text-align: center;
	max-width: 350px;
	background-color: var(--colore-sfondo-article-p);
	border-radius: 2em;
	padding: 1em;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.17s ease-in-out;
}

.motivazione:hover {
	transform: scale(1.02);
}


.motivazione > span{
	font-size: 5em;
	padding-bottom: 1em;
}

.motivazione h3{
	font-size: 2em;
	padding-top: 0.5em;
}

#diventaMembro{
	text-align: center;
}

#diventaMembro button{
	margin-top: 1.5em;
	padding: 0.3em 0.6em 0.3em 0.6em;
	font-size: 2em;
	color: var(--colore-testo-contrasto-sfondi);
	background-color: var(--colore-testo-principale);
	cursor: pointer;
}

#diventaMembro button:hover{
	background-color: var(--colore-sfondo-article-p);
	color: var(--colore-testo-principale);
}

#vieniAtrovarci{
	text-align: center;
}

#mappa{
	margin-top: 2em;
	width: 100%;
}

#doveSiamo{
	float: left;
	width: 50%;
	margin-bottom: 2em;
}

#orari{
	float: right;
	width: 40%;
	margin-bottom: 2em;
}

#contaPersone{
	float: right;
	width: 40%;
	margin-top: 3em;
	margin-bottom: 2em;
}

.clear{
	clear:both;
}
/*==================== ABBONAMENTI ====================*/
#abbonamenti {
	display: grid;
	grid-gap: 1.5em;
	grid-template-areas: "a b c d e";
}

#entrataSingola {
	grid-area: a;
}
#entrate {
	grid-area: b;
}
#mensile {
	grid-area: c;
}
#annuale {
	grid-area: d;
}
#resortPass {
	grid-area: e;
}

.offertaAbbonamento {
	display: grid;
	grid-template-rows: 5em 15em 2em;
	grid-template-areas:
		"a"
		"b"
		"c";
	background-color: var(--colore-sfondo-article-p);
	color: var(--colore-testo-principale);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	padding: 2em 0em;
	width: 12em;
	text-align: center;
	border-radius: 40px;
	transition: all 0.17s ease-in-out;
}

#content .offertaAbbonamento h2 {
	grid-area: a;
	align-self: start;
	font-size: 2em;
}
.offertaAbbonamento ul {
	grid-area: b;
	align-self: start;
	list-style-type: none;
	padding-top: 2em;
}
#content .offertaAbbonamento p {
	grid-area: c;
	align-self: end;
	margin-top: 0;
}

.offertaAbbonamento:hover {
	transform: scale(1.02);
}

/*
Pseudo elemento per migliorare le prestazioni
*/
.offertaAbbonamento::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 40px;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
	transition: opacity 0.2s ease-in-out;
}

.offertaAbbonamento:hover::after {
	opacity: 1;
}

#resortPassDiv ul{
	margin-top: 2em;
	color: var(--colore-testo-principale);
	text-align: center;
  	columns: 3;
}

#resortPassDiv li{
	margin-top: 0.7em;
}

small{
	color: var(--colore-testo-principale);
}

/*==================== PERSONAL TRAINER ====================*/

#content .personalTrainer {
    outline: none;
    margin: 2em 0em;
    padding: 1em;
    overflow: hidden;
}

#content .personalTrainer > h2 {
    margin: 0.5em 0em 0.5em 35%;
    padding: 0.5em;
    font-size: 2.5em;
    color: var(--colore-testo-principale);
}

#content .personalTrainer > img {
    float: left;
    width: 30%;
    padding: 0em;
    margin: 0em;
    transition: transform 0.2s;
    transition-timing-function: ease;
}

#content .personalTrainer > img:hover {
    transform: scale(1.01);
}

#content .personalTrainer > p {
    color: var(--colore-testo-principale);
    background-color: var(--colore-sfondo-article-p);
    margin: 1em 0em 1em 35%;
    padding: 1em;
    outline: none;
    border-radius: 1em;
    transition: box-shadow 0.2s;
    transition-timing-function: ease;
}

#content .personalTrainer > p:hover {
    box-shadow: 0px 10px 13px -7px #000000;
}

#content .personalTrainer > p > cite {
    display: block;
    padding: 0.5em 0em;
    font-size: 1.5em;
}

#content .personalTrainer > div {
    margin: 2.5em 0em 1em 35%;
}

#content .personalTrainer > div > p {
    display: inline;
    color: var(--colore-testo-contrasto-sfondi);
    background-color: var(--colore-testo-principale);
    padding: 0.5em 1em;
    margin:  1em 2em 0.5em 0em;
    outline: none;
    border-radius: 2em;
}

#content .personalTrainer > div > ul {
    /*display: inline;*/
    margin-top: 1em;
    margin-bottom: 1em;
}

#content .personalTrainer > div > ul > li {
    color: var(--colore-testo-principale);
    background-color: var(--colore-sfondo-article-p);
    padding: 0.5em 1em;
    margin:  0.5em 0em;
    outline: none;
    border-radius: 2em;
    list-style-type: none;
    display: inline-block;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
    transition-timing-function: ease;
}

/*#content .personalTrainer > div > ul > li:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 13px -7px #000000;
    background-color: #546151;
}*/

/*==================== STILE ATTREZZATURE ====================*/

#content .attrezzature article {
	margin-bottom: 4em;
}

#content .attrezzature article h3 {
	background-color: var(--colore-testo-principale);
	color: var(--colore-testo-contrasto-sfondi);
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	border-radius: 2em;
}

#content .attrezzature article div img {
	float: left;
	width: 30%;
	margin-right: 1em;
	border-radius: 2em;
}

#content .attrezzature article div{
	min-height: 500px;
}

#content .attrezzature article div p {
	clear: right;
	margin-left: 35%;
	margin-bottom: 1.0em;
	color: var(--colore-testo-principale);
	background-color: var(--colore-sfondo-article-p);
	padding: 1.2em;
	border-radius: 2em;
}

/*==================== STILE STORIA ======================*/

#presente h2, #passato h2{
	font-size: 3em;
	margin-bottom: 0em;
}

#presente h3, #passato h3{
	padding-top: 1em;
}

#presente img, #passato img{
	display: block;
	margin-top: 2em;
}

/*==================== STILE GALLERIA ====================*/

.gallery {
	display: grid;
	grid-gap: 1em;
	width: 100%;
	height: 100%;
}

.gallery_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2em;
}

.gallery_img_zoom {
	transition: transform .2s; /* Animation */
}

.gallery_img_zoom:hover{
	border: 0.2em solid var(--colore-testo-principale);
	transform: scale(2);
}

.gridQuadrata {
	grid-template-areas:
		'x y'
		'z w';
}

/*CSS Gallery sala pesi*/
#gallerySalaPesi {
	width: 70%;
	grid-template-areas:
		'a a b b c c'
		'a a b b c c'
		'a a b b c c'
		'd d d e e e'
		'd d d e e e'
		'd d d e e e';
	padding-bottom: 3em;
}

#gallerySalaPesi #pesi1 {
	grid-area: a;
}

#gallerySalaPesi #pesi2 {
	grid-area: b;
}

#gallerySalaPesi #pesi3 {
	grid-area: c;
}

#gallerySalaPesi #pesi4 {
	grid-area: d;
}

#gallerySalaPesi #gallerySalaPesiQuadrato {
	grid-area: e;
}

#gallerySalaPesiQuadrato #pesi5 {
	grid-area: x;
}

#gallerySalaPesiQuadrato #pesi6 {
	grid-area: y;
}

#gallerySalaPesiQuadrato #pesi7 {
	grid-area: z;
}

#gallerySalaPesiQuadrato #pesi8 {
	grid-area: w;
}

/*CSS Gallery Sala Cardio*/
#gallerySalaCardio {
	width: 70%;
	grid-template-areas:
		'a a a a'
		'a a a a'
		'b b c d'
		'b b e f';
	padding-bottom: 3em;
}

#gallerySalaCardio #cardio1 {
	grid-area: a;
}

#gallerySalaCardio #cardio2 {
	grid-area: b;
}

#gallerySalaCardio #cardio3 {
	grid-area: c;
}

#gallerySalaCardio #cardio4 {
	grid-area: d;
}

#gallerySalaCardio #cardio5 {
	grid-area: e;
}

#gallerySalaCardio #cardio6 {
	grid-area: f;
}

/*CSS Gallery Sala Fitness*/
#gallerySalaFitness {
	width: 70%;
	padding-bottom: 3em;
}

#gallerySalaFitness #fitness1 {
	grid-area: x;
}

#gallerySalaFitness #fitness2 {
	grid-area: y;
}

#gallerySalaFitness #fitness3 {
	grid-area: z;
}

#gallerySalaFitness #fitness4 {
	grid-area: w;
}

/*CSS Gallery Piscina*/
#galleryPiscina {
	width: 70%;
	padding-bottom: 3em;
}

#galleryPiscina #piscina1 {
	grid-area: x;
}

#galleryPiscina #piscina2 {
	grid-area: y;
}

#galleryPiscina #piscina3 {
	grid-area: z;
}

#galleryPiscina #piscina4 {
	grid-area: w;
}

/*CSS Gallery Outdoor*/
#galleryOutdoor {
	width: 70%;
	grid-template-areas:
		'a a b c'
		'a a d e'
		'f f f f'
		'f f f f';
	padding-bottom: 3em;
}

#galleryOutdoor #outdoor1 {
	grid-area: a;
}

#galleryOutdoor #outdoor2 {
	grid-area: b;
}

#galleryOutdoor #outdoor3 {
	grid-area: c;
}

#galleryOutdoor #outdoor4 {
	grid-area: d;
}

#galleryOutdoor #outdoor5 {
	grid-area: e;
}

#galleryOutdoor #outdoor6 {
	grid-area: f;
}

/*CSS Gallery Spogliatoio*/
#gallerySpogliatoio {
	width: 70%;
	grid-template-areas:
		'a a b b'
		'a a b b'
		'a a c d'
		'a a e f';
	padding-bottom: 3em;
}

#gallerySpogliatoio #spogliatoio1 {
	grid-area: a;
}

#gallerySpogliatoio #spogliatoio2 {
	grid-area: b;
}

#gallerySpogliatoio #spogliatoio3 {
	grid-area: c;
}

#gallerySpogliatoio #spogliatoio4 {
	grid-area: d;
}

#gallerySpogliatoio #spogliatoio5 {
	grid-area: e;
}

#gallerySpogliatoio #spogliatoio6 {
	grid-area: f;
}